@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: hsl(240, 45%, 91%);
}

.general {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 420px;
    height: 710px;
    position: relative;
}

.backdrop {
    display: flex;
    width: 340px;
    height: 340px;
    margin: 10px 0 20px 48px;
}

img {
    position: absolute;
    width: 65%;
    height: 38%;
    margin: 50px 0 0 75px;
    border-radius: 10px;
}

.icon {
    position: absolute;
    display: flex;
    top: 300px;
    left: 172px;
    cursor: pointer;
}

.prev {
    background-color: hsl(240, 25%, 92%);
    width: 40px;
    height: 40px;
    padding: 10px 0 0 12px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.prev:hover {
    background-color: hsl(240, 39%, 73%);
    transition: 0.3s ease-in-out;
}

.next {
    background-color: hsl(240, 25%, 92%);
    width: 40px;
    height: 40px;
    padding: 10px 0 0 12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.next:hover {
    background-color: hsl(240, 39%, 73%);
    transition: 0.3s ease-in-out;
}

.quote {
    width: 60px;
    height: 60px;
    margin-left: 182px;
}

.bottom {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 522px; 
}

.info {
    position: absolute;
    width: 320px;
    right: 480px;
    text-align: center;
    margin-top: 50px;
}

.info .text {
    font-size: 18px;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
    margin-bottom: 20px;
}

.info .detail {
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;
}

.info .detail-info {
    font-weight: lighter;
    text-align: center;
    color: hsl(240, 18%, 77%);
}
